* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #386380;
}



.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.5s ease;
}

input {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    border: 2px solid #386380;
    border-radius: 5px;
    outline: none;
}

.err {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    background-color: red;
    color: white;
    padding: .5rem;
    border-radius: 5px;
}

.err a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hasil-container {
    display: none;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-bottom: .5rem;
}

.back {
    flex: 1;
    color: #386380;
    text-decoration: none;
    cursor: pointer;
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
}

.back:hover {
    background-color: #386380;
    color: aliceblue;
    border: aliceblue 1px solid;
}

h1 {
    flex: 10;
    color: aliceblue;
    /* background-color: bisque; */
    font-size: 2.5rem;
    text-align: center;
}